:root {
  --background-color: #DDE7FF;
  --card-color: rgb(255, 255, 255, 30%);
  --font-color-dark: #0D1321;
  --header-color-dark: rgb(0, 0, 0, 80%);
  --font-color-light: #FBFCFF;
  --theme-color: #6C8CD8;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--font-color-light);
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.nav-container {
  display: flex;
  padding: 10px 20px;
  background-color: var(--theme-color);
}

h3 {
  margin: 0;
  opacity: 0.9;
  color: var(--header-color-light);
  font-family: 'PT Serif', serif;
}

h4 {
  margin: 10px 0 5px;
  color: var(--header-color-light);
  font-family: 'PT Serif', serif;
}

p {
  opacity: 0.9;
  margin: 0 0 20px;
}

.main {
  padding: 0 50px;
  margin: auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

@media (max-width: 1050px) {
  .row {
    justify-content: space-evenly;
  }
}

.col-40 {
  width: 35%;
  min-width: 400px;
  display: flex;
  flex-direction: column;
}

.col-60 {
  width: 55%;
  min-width: 550px;
  display: flex;
  flex-direction: column;
}

.col-100 {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card-label {
  margin: 20px 0 0 0;
  padding: 5px 0 5px 10px;
  background-color: var(--theme-color);
  border-radius: 2px 2px 0 0;
}

.card {
  padding: 15px;
  background-color: var(--card-color);
  color: var(--font-color-dark);
  border: var(--theme-color) 2px solid;
  border-radius: 0 0 2px 2px;
  flex: 1;
}

.input {
  display: flex;
  margin-bottom: 5px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

label {
  font-size: 14px;
}

input {
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255, 40%);
  border: 1px solid var(--theme-color);
}

button {
  background-color: var(--theme-color);
  color: var(--header-color-light);
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  align-self: start;
  transition: color .15s ease-in-out;
  transition: background-color .15s ease-in-out;
  transition: border-color .15s ease-in-out;
  transition: box-shadow .15s ease-in-out;
  transition-property: color, background-color, border-color, box-shadow;
}

code {
  display: block;
  padding: 5px 10px;
  margin: 0 10px;
  background-color: rgb(255, 255, 255, 50%);
  white-space: pre;
}

.response code {
  height: 100px;
  overflow: scroll;
}

table {
  margin-bottom: 20px;
  border-collapse: collapse;
  vertical-align: top;
  font-size: 14px;
}

th {
  padding: 10px;
  border-bottom: 1px solid rgb(0, 0, 0, 60%);
}

td {
  padding: 10px;
  border-bottom: 1px solid rgb(0, 0, 0, 60%);
}

.break {
  border-bottom: 1px solid rgb(0,0,0, 25%);
  margin: 0 10px;
}

/* spinner css from https://tobiasahlin.com/spinkit/ */
.spinner {
  margin: auto;
  height: 50px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: var(--theme-color);
  height: 100%;
  width: 10px;
  display: inline-block;
  margin: 0 5px;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
